.transition {
    position: relative;
}

.transition-main-slot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.transition-transition-slot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}